.profile__info {
  margin-right: auto;
  max-width: 435px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .profile__info {
    margin-right: 0;
    justify-content: center;
  }
}
